<ul class='navbar_ul'>
  <li class='navbar_li'>
    <%= link_to 'Home', admin_path(@current_user.id), :class=>"navbar_a" %>
  </li>
  <li class='navbar_li'>
    <%= link_to 'Impostazioni', '/admins/delete/users', :class=>"navbar_a" , :id=>"active"%>
  </li>
  <li class='navbar_li'>
    <%= link_to 'Modifica calciatori', edit_soccers_player_path(@current_user.id), :class=>"navbar_a" %>
  </li>
  <li class='navbar_li'>
    <%= link_to 'Eventi', '/leagues/calendar/events/federicobucci504@gmail.com', :class=>"navbar_a" %>
  </li>

</ul>
<br>
<br>

<h1>FantaRuby</h1>
<br/>

<h3>Cerca User</h3>
<%= form_tag '/admins/delete/users', :method => :get do -%>
  <%= label_tag 'username' %>
  <%= text_field_tag 'username' %>
  <br/>
  <%= submit_tag 'Cerca' %>
<% end -%>
<br/>
<br/>

<table id="tabella">
  <thead>
    <tr id="col">
      <th>Users</th>
      <th>League</th>
      <th>President</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% if @user != nil %>
    <tr>
        <td id="t">
            <%= link_to @user.username, '/users/'+@user.id.to_s %>
        </td>
        <% if @user.league_id != nil %>
            <% l=League.find_by_id(@user.league_id) %>
            <td id= "t">
                <%= l.name %>
            </td>
            <% u = User.find_by_id(l.president_id) %>
            <td id="t">
                <%= link_to u.username, '/users/'+u.id.to_s %>
            </td>
            <td id="t">
                <%= link_to 'Delete', '/users/'+@user.id.to_s+'/delete', method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
            <td id="t">
                <%= link_to 'Change President', edit_league_path(l.id) %>
            </td>
        <% else %>
            <td id= "t">
                "empty"
            </td>
            <td id= "t">
                "empty"
            </td>
            <td id="t">
                <%= link_to 'Delete', '/users/'+@user.id.to_s+'/delete', method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
            <td id= "t">
                "empty"
            </td>
        <% end %>
    </tr>
  <% else %>
    <% @users.each do |user| %>
        <% if user.roles_mask != 8 %>
      <tr>
        <td id="t">
            <%= link_to user.username, '/users/'+user.id.to_s %>
        </td>
        <% if user.league_id != nil %>
            <% l=League.find_by_id(user.league_id) %>
            <td id= "t">
                <%= l.name %>
            </td>
            <% u = User.find_by_id(l.president_id) %>
            <td id="t">
                <%= link_to u.username, '/users/'+user.id.to_s %>
            </td>
            <td id="t">
                <%= link_to 'Delete', '/users/'+user.id.to_s+'/delete', method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
            <td id="t">
                <%= link_to 'Change President', edit_league_path(l.id) %>
            </td>
        <% else %>
            <td id= "t">
                "empty"
            </td>
            <td id= "t">
                "empty"
            </td>
            <td id="t">
                <%= link_to 'Delete', '/users/'+user.id.to_s+'/delete', method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
            <td id= "t">
                "empty"
            </td>
        <% end %>
      </tr>
    <% end %>
    <% end %>
    <% end %>
  </tbody>
</table>

<% if @players.count == 0 %>
  <p>
    Download:

    <%= form_tag import_soccers_players_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Import" %>
    <% end %>
  </p>
<%elsif @players.count >= 1 %>

  <p>
    Download daily score:

    <%= form_tag import_score_soccers_players_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Import" %>
    <% end %>
  </p>
<% end %>
