= form_tag new_event_path('studenti.michaelcapponi96@gmail.com'), :method => :post do
  = label :match, :title, 'Title'
  = text_field :match1, :title
  %br/
  %br/
  = label :match, :data, 'Date'
  = date_select :match, :data
  %br/
  %br/
  = submit_tag 'crea evento'
  
