%h2 Crea nuova lega

= form_tag leagues_path, :method => :post do

  = render 'shared/error_messages'

  = label :league, :name, 'Nome'
  %br
  = text_field :league, :name
  %br
  %br
  = label :league, :players, 'Numero massimo di giocatori'
  %br
  = select :league, :players, [2,3,4,5,6,7,8]
  %br
  %br
  = label :league, :status, 'Status della lega'
  %br
  = select :league, :status, ["Aperta", "Chiusa"]
  %br
  %br
  = label :league, :description, 'Info di lega'
  %br
  = text_area :league, :description
  %br
  %br
  = submit_tag 'Crea'

%br
%br

