%h1{id:"titolo"} FantaRuby
%h2 Details about #{@lega.name}
%table
  %thead
    %h3 Montepremi:
  %tr
    %td Primo
    %td 400$
  %tr
    %td Secondo
    %td 200$
  %tr
    %td Terzo
    %td 100$
%br

%h3 Status lega: #{@lega.status}

%table
  %thead
    %tr
      %th Players email
  %tbody
    - @players.each do |player|
      %tr
        %td= player.email

%br
%br

-if @lega.status == "Aperta" && @players.size < @lega.players
  = form_tag home_path(@lega), :method => :put do
    = submit_tag 'Partecipa'
%br
%br
#{link_to 'Torna a "Selezione Lega"', homes_path}
%br
%br

