%h1 FantaRuby
%br
%br

%h3 Cerca lega
= form_tag homes_path, :method => :post do

  = label :league, :name, 'Nome'
  %br
  = text_field :league, :name
  %br
  = submit_tag 'Cerca'

%br
%br
%table
  %thead
    %tr
      %th Nome
      %th Status
      %th Presidente

  %tbody
    - @leghe.each do |lega|
      %tr
        %td= lega.name
        %td= lega.status
        - u = User.find_by_id(lega.president_id)
        %td= u.email
        %td= link_to "Details", home_path(lega)
%br
%br
#{link_to 'Crea lega', new_league_path}



