<h1>Profile</h1>

<h3>Email: </h3><%= @user.email %>

<h3>Username: </h3><%= @user.username %>

<h3>Favourite team: </h3><%= @user.favourite_team %>

<% if @league == -1 %>
	<h3>League name: </h3>
	"Non fai parte di nessuna lega"
<% else %>
	<h3>League name: </h3><%= @league.name %>
<% end %>
<% if user.president? || user.player? %>
    <%= form_tag user_path(current_user.id), :method => :put do %>
      <%= submit_tag 'Esci dalla lega' %>
    <% end %>
<% end %>
<br/>
<br/>
<%= link_to "Torna a impostazioni utenti", admins_path %>
<br/>
<br/>
<br/>
<br/>
