<h1>Profile</h1>

<h3>Email: </h3><%= @user.email %>

<h3>Username: </h3><%= @user.username %>

<h3>Favourite team: </h3><%= @user.favourite_team %>


<% if current_user.roles_mask == 2 || current_user.roles_mask == 4 %>


    <% if @league == -1 %>
	<h3>League name: </h3>
	"Non fai parte di nessuna lega"
    <% else %>
	<h3>League name: </h3><%= @league.name %>

    <% end %>

    <br/>
    <br/>

    <% if @ultima_giornata != -1 %>
        <%= form_tag '/users/' + current_user.id.to_s, :method => :post do %>
            Il tuo punteggio della  <b><%= @ultima_giornata %>°</b> giornata è: <b><%= @punteggio_giornata %></b>
            <input name="punteggio" type="text" value=<%= @punteggio_giornata %> readonly  style="width: 20px;visibility: hidden;" >
            <%= submit_tag 'Twitta il tuo risultato' %>
        <% end %>
    <% end %>
    <br/>
    <br/>
    <% if current_user.id == @user.id %>

        <%= link_to "Settings", '/users/edit' %>

        <br/>
        <br/>

        <%= form_tag user_path(current_user.id), :method => :put do %>
            <%= submit_tag 'Esci dalla lega' %>
        <% end %>
    <% end %>


        <br/>
        <br/>

        <%= link_to "Torna all'home page della lega", leagues_path(@league.id) %>

<% elsif current_user.roles_mask == 8 %>

    <% if @league == -1 %>
	<h3>League name: </h3>
	"Non fa parte di nessuna lega"
    <% else %>
	<h3>League name: </h3><%= @league.name %>
    <% end %>
    <br/>
    <br/>
    <%= link_to "Torna a impostazioni utenti", admins_path %>
    <br/>
    <br/>
<% end %>
<br/>
<br/>
