%ul{:class=> "navbar_li"}
  %li{:class=> "navbar_ul"}
    #{link_to 'Profilo', user_path(current_user.id)}
    %br
  %li{:class=> "navbar_li"}
    #{link_to 'Ranking', ranking_path}
    %br
  %li{:class=> "navbar_li"}
    #{link_to 'Daily Ranking', daily_ranking_path}
    %br
  %li{:class=> "navbar_li"}
    -if current_user.president?
      #{link_to 'Impostazioni lega', edit_league_path(@lega.id)}
      %br
  %li{:class=> "navbar_li"}
    -if current_user.president?
      #{link_to 'Calcola punteggi', leagues_score_rate_path}
      %br
  %li{:class=> "navbar_li"}
    #{link_to 'Inserisci/Modifica Formazione', new_formazioni_path}
    %br
  %li{:class=> "navbar_li"}
    #{link_to 'Formazioni in campo', formazionis_path}
    %br
  %li{:class=> "navbar_li"}
    #{link_to 'Eventi', '/leagues/calendar/events/federicobucci504@gmail.com'}
%br
%hr
%br
%h2
  Settings of  #{@lega.name}
= form_for @lega do |f|
  .field
    = f.label :president_id
    = f.collection_select :president_id, @users.order(:email),:id ,:email,include_blank: false
  %br/
  .field
    - if current_user.president?
      = label :league, :description, 'Info di lega'
      %br/
      = text_area :league, :description
      - if @lega.status == "Aperta"
        = f.label :status
        = f.radio_button :status, "Aperta", checked: true
        Aperta
        = f.radio_button :status, "Chiusa"
        Chiusa
      - else
        = f.label :status
        = f.radio_button :status, "Aperta"
        Aperta
        = f.radio_button :status, "Chiusa", checked: true
        Chiusa
  %br/
  = submit_tag 'Save Changes'
%br/
%br/
= link_to "Torna all'Home Page della lega", leagues_path
%br/
%br/

