<h2>
  Settings of <%= @lega.name %>
</h2>
<%= form_for @lega do |f| %>
  <div class="field">
    <%= f.label :president_id %>
    <%= f.collection_select :president_id,@users.order(:email),:id ,:email,include_blank: false %>
  </div>
  <br/>
  <div class="field">
    <% if current_user.president? %>
      <%= label :league, :description, 'Info di lega' %>
      <br/>
      <%= text_area :league, :description, value: @lega.description %>
      <br/>
      <% if @lega.status == "Aperta" %>
        <%= f.label :status %>
        <input id="radio" name="radio" type="radio" value="Aperta" checked>
        Aperta
        <input id="radio" name="radio" type="radio" value="Chiusa">
        Chiusa
      <% else %>
        <%= f.label :status %>
        <input id="radio" name="radio" type="radio" value="Aperta" >
        Aperta
        <input id="radio" name="radio" type="radio" value="Chiusa" checked>
        Chiusa
      <% end %>
    <% end %>
  </div>
  <br/>
  <%= submit_tag 'Salva cambiamenti' %>
<% end %>
<br/>
<br/>
<%= link_to "Torna all'Home Page della lega", leagues_path %>
<br/>
<br/>
