<br/>
<br/>
<table id="tabella_eventi">
	<caption><h1> Eventi del calendario </h1></caption>
	<tr id="tr_eventi">
		<th id="th_eventi">Nome Evento</th>
		<th id="th_eventi">Giorno</th>
		<th id="th_eventi">Ora</th>
	</tr>
	
	<% @event_list.items.each do |event| %>
		<tr id="tr_eventi">
			<td id="td_eventi_nome"><%= event.summary %></td>
			<td id="td_eventi_giorno"><% y=""
						 event.end.date_time.inspect.split[0,4].map{ |x| y+=x } 
					%>
					<%= y %>
			</td>
			<td id="td_eventi_ora">
<% if event.end.date_time!=nil %>
				<%= 

event.end.date_time.inspect.split[4][0,5] 
%>
<% end %>
			</td>
		</tr>
  <% end %>

</table>

<% if current_user.admin? %>

<%= form_tag new_event_path('federicobucci504@gmail.com'), :method => :post do %>
  <%= label :match, :title, 'NUOVO EVENTO' %>
  <%= text_field :match1, :title %>
  <br/>
  <br/>
  <%= label :match, :data, 'Date' %>
  <%= datetime_select :match, :data %>
  <br/>
  <br/>
  <%= submit_tag 'crea evento' %>
<% end %>
<% end %>

<br/>
<br/>
<br/>
<br/>
<%= link_to 'Torna alla home della lega', '/leagues' %>
<br/>
<br/>

