<% if current_user.president? || current_user.player? %>
<ul class='navbar_ul'>
  <li class='navbar_li'>
    <%= link_to 'Home', leagues_path, :class=>"navbar_a" %>
  </li>
  <li class='navbar_li'>
    <%= link_to 'Profilo', user_path(current_user.id), :class=>"navbar_a" %>
  </li>
  <li class='navbar_li'>
    <%= link_to 'Ranking', ranking_path, :class=>"navbar_a" %>
  </li>
  <li class='navbar_li'>
    <%= link_to 'Formazioni in campo', formazionis_path, :class=>"navbar_a" %>
  </li>
  <li class='navbar_li'>
    <%= link_to 'Eventi', '/leagues/calendar/events/federicobucci504@gmail.com', :class=>"navbar_a", :id=>"active" %>
  </li>
</ul>

<% else %>

<ul class='navbar_ul'>
  <li class='navbar_li'>
    <%= link_to 'Home', admin_path(current_user.id), :class=>"navbar_a" %>
  </li>
  <li class='navbar_li'>
    <%= link_to 'Impostazioni', '/admins/delete/users', :class=>"navbar_a" %>
  </li>
  <li class='navbar_li'>
    <%= link_to 'Modifica calciatori', edit_soccers_player_path(current_user.id), :class=>"navbar_a" %>
  </li>
  <li class='navbar_li'>
    <%= link_to 'Eventi', '/leagues/calendar/events/federicobucci504@gmail.com', :class=>"navbar_a", :id=>"active" %>
  </li>

</ul>
<br>
<br>
<% end %>

<br/>
<br/>
<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>">
    <%= value %>
  </div>
<% end %>
<% if current_user.player? || current_user.president? %>
  <table id="tabella_eventi">
    <caption>
      <h1>Eventi del calendario</h1>
    </caption>
    <tr id="tr_eventi">
      <th id="th_eventi">Nome Evento</th>
      <th id="th_eventi">Giorno</th>
      <th id="th_eventi">Ora</th>
    </tr>
    <% @event_list.items.each do |event| %>
      <tr id="tr_eventi">
        <td id="td_eventi_nome">
          <%= event.summary %>
        </td>
        <td id="td_eventi_giorno">
          <% y="" %>
          <% event.end.date_time.inspect.split[0,4].map{ |x| y+=x } %>
          <%= y %>
        </td>
        <td id="td_eventi_ora">
          <% if event.end.date_time!=nil %>
            <%= event.end.date_time.inspect.split[4][0,5] %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
<% if current_user.admin? %>
  <br/>
  <h1>Eventi del calendario</h1>
  <br/>
  <table id="tabella_eventi">
    <caption></caption>
    <h4>seleziona l' evento da eliminare</h4>
    <tr id="tr_eventi">
      <th id="th_eventi">Nome Evento</th>
      <th id="th_eventi">Giorno</th>
      <th id="th_eventi">Ora</th>
    </tr>
    <% @event_list.items.each do |event| %>
      <tr id="tr_eventi">
        <td id="td_eventi_nome">
          <%= link_to event.summary, league_path(event.id), method: :delete %>
        </td>
        <td id="td_eventi_giorno">
          <% y="" %>
          <% event.end.date_time.inspect.split[0,4].map{ |x| y+=x } %>
          <%= y %>
        </td>
        <td id="td_eventi_ora">
          <% if event.end.date_time!=nil %>
            <%= event.end.date_time.inspect.split[4][0,5] %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= form_tag new_event_path('federicobucci504@gmail.com'), :method => :post do %>
    <%= label :match, :title, 'NUOVO EVENTO' %>
    <%= text_field :match1, :title %>
    <br/>
    <br/>
    <%= label :match, :data, 'Date' %>
    <%= datetime_select :match, :data %>
    <br/>
    <br/>
    <%= submit_tag 'crea evento' %>
  <% end %>
<% end %>
<br/>
<br/>
<br/>
<br/>


