
%ul{:class=> "navbar_li"}
  %li{:class=> "navbar_ul"}
    #{link_to 'Profilo', user_path(current_user.id)}
    %br
  %li{:class=> "navbar_li"}
    #{link_to 'Ranking', ranking_path}
    %br
  %li{:class=> "navbar_li"}
    #{link_to 'Daily Ranking', daily_ranking_path}
    %br
  %li{:class=> "navbar_li"}
    -if current_user.president?
      #{link_to 'Impostazioni lega', edit_league_path(@lega.id)}
      %br
  %li{:class=> "navbar_li"}
    -if current_user.president?
      #{link_to 'Calcola punteggi', leagues_score_rate_path}
      %br
  %li{:class=> "navbar_li"}
    #{link_to 'Inserisci/Modifica Formazione', new_formazioni_path}
    %br
  %li{:class=> "navbar_li"}
    #{link_to 'Formazioni in campo', formazionis_path}
    %br
  %li{:class=> "navbar_li"}
    #{link_to 'Eventi', '/leagues/calendar/events/federicobucci504@gmail.com'}
%br
%br
%h1 Home Page Lega
Informazione della lega:
%h4=  @lega.description
%br
%br


-#%h1 IMPORTANTE!!!
-#%h1 Richieste rimanenti:
-#%h1= @richieste_rimanenti

-#%br
-#%h3 Info Risultati
-#%table
-#  %thead
-#    %tr
-#      %th Casa
-#      %th Trasferta
-#      %th Gol Casa
-#      %th Gol Trasferta
-#  %tbody
-#    - @days_matches.each do |days_match|
-#      %tr
-#        %td= days_match["homeTeam"]
-#        %td= days_match["awayTeam"]
-#        %td= days_match["goalsHomeTeam"]
-#        %td= days_match["goalsAwayTeam"]

%br
%br

