<h1>Crea nuova lega</h1>
<br/>
<h3>Completa tutti i campi</h3>
<br/>

<% flash.each do |key, value| %>
	<div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<%= form_tag leagues_path, :method => :post do %>
  <%= render 'shared/error_messages' %>
  <%= label :league, :name, 'Nome' %>
  <br/>
  <%= text_field :league, :name %>
  <br/>
  <br/>
  <%= label :league, :players, 'Numero massimo di giocatori' %>
  <br/>
  <%= select :league, :players, [2,3,4,5,6,7,8] %>
  <br/>
  <br/>
  <%= label :league, :description, 'Info di lega' %>
  <br/>
  <%= text_area :league, :description %>
  <br/>
  <br/>
  <%= submit_tag 'Crea' %>
<% end %>
<br/>
<br/>
<%= link_to 'Torna a "Seleziona Lega"', homes_path %>
<br/>
<br/>


